@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


@font-face {
    font-family: marioFont;
    src: url('../assets/PixelEmulator-xq08.ttf');
}

body {
    --color1: #d17300;
    --color2: #10c3f4;
    --color3: #efda70;
    --color4: #c10114;
    --color5: #55310a;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --footer-height: 25px;
    
    font-family: 'orbitron', sans-serif;
    background: linear-gradient(var(--color2) 70%, green 90%);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    /* background: linear-gradient(var(--color2), var(--color5)); */
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    height: var(--header-height);
    box-shadow: var(--shadow);
    border: 5px var(--color5) ridge;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#avatar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.header-left h1 {
    margin: auto 10px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding-top: 5px;
}
#avatar-icon {
    height: 60px;
}
#home-icon {
    height: 60px;
    margin: 0 10px;
}
#trophy-icon{
    height: 40px;
}
#settings-icon {
    height: 40px;
    cursor:pointer;
}
#logout-icon {
    height: 40px;
    cursor:pointer;
}

.gutter-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100%;
}

.gutter-right img {
    height: var(--header-height);
    border-radius: 50%;
    height: 65px;
}

button {
    border: 2px solid var(--color5);
    border-radius: 5px;
    background-color: white;
    color: var(--color5);
    height: 5vh;
}

button:hover {
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--color5);
    color: white;
    border: none;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
    box-shadow: var(--shadow);
}

@keyframes pulse {
    50% {
        transform: scale(1.2);
    }
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(70deg, #4292a7 40%, rgba(0, 0, 0, 0) 80%), url(/assets/sign-up-page.png);
    height: 100%;
    width: 100%;
}

.auth-container {
    margin: 0px 100px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.leaderboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 100%; */
}

.leaderboard-left{
    border: 1px solid black;
    height: 100%;
    display: grid;
    align-content: center;
}

.leaderboard-right{
    border: 1px solid black;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    width: 25%;
}

.trophy{
    display: grid;
}

h1{
    margin: 0;
    padding: 0;
}

.score-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* table css across all pages */

table {
    margin: 10px 70px 70px;
    box-shadow: 0px 5px 5px grey;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    max-width: 60vw;
}

td, th {
    text-align: center;
    padding: 8px;
}

th {
    color: #ffffff;
    background-color: var(--color5);
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #F8F8F8;
}

.score{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.score h3{
    margin-right: 15px;
}

.table h3{
    margin-right: 15px;
}

.score P {
    margin: 0;
}


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-content: space-between;
}


/* profile page */

.labelName {
    width: 10vw;
}

.editBio {
    height: 40px;
    width: 90%;
}

#avatar {
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 90px;
    margin-right: 20px;
}

.hidden {
    display: none;
}

/* Homepage styling */
#homepage{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#leaderboard-container{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.mini-leaderboard{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    font-size: .8rem;
    align-items: flex-start;
}

.leaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: .8rem;
    padding: 5px;
}

#display-games{
    width: 100%;
    margin: 60px;
}

#display-games img{
    width: 100%;
}

#label{
    margin: 0 auto;
    background-color: black;
    font-size: 1rem;
    color: white;
    padding: 5px;
}

#play-game-button{
    position: absolute;
    border: none;
    color: white;
    background-color: rgb(43, 43, 43);
    opacity: .7;
}

/* profile setup page styling */

#profile-setup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
#profile-setup-form input[type=radio] {
    visibility: collapse;
}
#profile-setup-form .avatar-imgs {
    height: 150px;
    width: 150px;
    cursor: pointer;
}
#profile-setup-form input[type=radio]:checked + figure {
    outline: 3px ridge var(--color3);
}
#profile-setup-form .avatar-select {
    display: flex;
}
#profile-setup-form label {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#profile-setup-form figure {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
#profile-setup-form button {
    margin: 10px 0;
    width: 10%;
    padding: 5px;
}
#profile-setup-form h3 {
    margin: 0;
    text-align: center;
}
#profile-setup-form #username {
    width: 30%;
    margin: 7px;
    padding: 5px;
}
#profile-setup-form #bio {
    width: 90%;
    height: 100px;
}