@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


@font-face {
    font-family: marioFont;
    src: url('../assets/PixelEmulator-xq08.ttf');
}

body {
    --color1: #d17300;
    --color2: #10c3f4;
    --color3: #efda70;
    --color4: #c10114;
    --color5: rgb(45, 0, 93);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --footer-height: 25px;
    
    font-family: 'orbitron', sans-serif;
    background: linear-gradient(var(--color2) 70%, green 90%) fixed;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    /* background: linear-gradient(var(--color2), var(--color5)); */
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    height: var(--header-height);
    box-shadow: var(--shadow);
    border: 5px var(--color5) ridge;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#avatar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.header-left h1 {
    margin: auto 10px;
}

#sign-in-header {
    width: 100%;
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
    padding-top: 5px;
}
#avatar-icon {
    height: 60px;
}
#home-icon {
    height: 60px;
    margin: 0 10px;
}
#trophy-icon{
    height: 40px;
}
#settings-icon {
    height: 40px;
    cursor:pointer;
}
#logout-icon {
    height: 40px;
    cursor:pointer;
}
#sign-in-icon {
    height: 40px;
    cursor:pointer;
}

.logo {
    height: var(--header-height);
    border-radius: 50%;
    height: 65px;
    margin-left: 10px;
}

button {
    border: 2px solid var(--color5);
    border-radius: 5px;
    background-color: white;
    color: var(--color5);
    height: 5vh;
    margin: 5px;
}

button:hover {
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--color5);
    color: white;
    border: none;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
    box-shadow: var(--shadow);
    z-index: 2;
}

.footer-left {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 1;
}

#about-link {
    color: black;
}

.footer-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 275px;
}

@keyframes pulse {
    50% {
        transform: scale(1.2);
    }
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(70deg, #4292a7 30%, rgba(0, 0, 0, 0) 50%), url(/assets/kaboomio\ zoom\ background.png) -20% fixed;
    height: calc(100% - var(--header-height) - var(--footer-height));
    width: 100%;
}

.auth-container {
    margin: 0px 100px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}


/* leaderboard CSS */

#leaderboard-body{
    /* overflow: hidden; */
}

.leaderboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    width: 90%;
    flex-wrap: wrap;
}

.leaderboard-left{
    height: 100%;
    border: none;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    overflow: hidden;
    height: 90%;
    border-radius: 10px;
    min-width: 270px;
    margin-bottom: 40px;
    border: 2px solid var(--color1);
}

select{
    width: 25%;
}

.trophy{
    display: grid;
}

h1{
    margin: 15px;
    padding: 0;
}

.score-container{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    animation: scrolling 5s linear forwards;
    position: relative;
    overflow: hidden;
}

.table{
    display: flex;
    width: 100%;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

.score{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
font-size: 2vw;
color: goldenrod;
}

.score:hover{
    cursor: pointer;
    color: white;
}

.score h3{
    margin-right: 0px;
}

.table h3{
    margin-right: 15px;
}

.score p {
    margin: 0;
}

@keyframes scrolling {
    0% {top: 100%;}
    100% {top: 0%; }
    
}

/* profile page styling */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-content: space-between;
}

#profilePage .profileMargins {
    margin: 10px;
}

#profilePage .infoSection {
    margin: 10px;
    background-color: var(--color5);
    border: none;
    width: 80vw;
    color: white;
    border: 2px solid var(--color1);
}

#profilePage .profileEditForm {
    width: 80vw;
}

#profilePage .profileEditForm form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

#profilePage .profileEditForm input[type=text] {
    margin: 7px;
    padding: 5px;
    width: 180px;
    text-align: center;
}

#profilePage .profileEditForm label {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
}

#profilePage .profileEditForm div {
    width: 100%;
}

#profilePage .profileEditForm button {
    margin: 30px 0;
    width: 120px;
    height: 40px;
}

#profilePage #editButton {
    margin-right: 10px;
    width: 120px;
    height: 40px;
}

#profilePage .profileEditForm h3 {
    margin: 15px 0;
    text-align: center;
}

#profilePage .profileEditForm textarea {
    width: 80%;
    height: 100px;
    margin: 7px;
    padding: 5px;
    text-align: center;
    resize: none;
}

#profilePage .labelName {
    width: 10vw;
}

#profilePage #bio {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

#profilePage #avatar {
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 90px;
    margin-right: 20px;
    background-color: whitesmoke;
}

#profilePage figure {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#profilePage figcaption {
    margin-top: 2px;
}

#profilePage .removeItem {
    width: 5vw;
}

#profilePage .removeItem:hover {
    background-color: var(--color4);
    color: white;
}

#profilePage .avatar-imgs {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#profilePage .scoreDiv {
    background-color: black;
    width: 80vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#profilePage .header {
    padding-bottom: 5px;
}

#profilePage #previousScoresContainer {
    padding-bottom: 30px;
}

#profilePage .mini {
    align-items: justify;
}

/* Homepage styling */

#leaderboard-container{
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-right: 20px;
    background-color: black;
    position: relative;
}

.mini-leaderboard{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    font-size: 1rem;
    align-items: flex-start;
    padding-right: 5px;
}

.leaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    padding: 5px;
}

#display-games{
    width: 100%;
    margin: 20px;
    aspect-ratio: 16 / 9;
}

#display-games img{
    width: 100%;
}

#label{
    margin: 0 auto;
    background-color: black;
    font-size: 1rem;
    color: white;
    padding: 5px;
}

#play-game-button{
    position: absolute;
    border: none;
    color: white;
    background-color: rgb(45, 0, 93);
    opacity: .7;
}

.mini:hover{
    opacity: .8;
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}

#play-game-button:hover{
    opacity: 1;
    cursor: pointer;
}

#homepage2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#kaboomio{
    display: flex;
    align-items: flex-start;
    background-color: rgb(45, 0, 93);
    padding: 20px;
    width: 90%;
    height: 200px;
    margin: 40px 0px;
    flex-wrap: wrap;
}

#kaboomio img{
    height: 200px;
    padding: 10px;
}

#kaboomio h1{
    color: white;
    padding: 0;
    border-bottom: #d17300 5px solid;
    border-radius: 5px;
}

#yoshi-egg{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    animation: bounce .4s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin: 0px 50px;
    width: 100%;
    position: absolute;
    bottom: 14px;
}

#yoshi-egg img{
    height: 50px;
    display: flex;
}

#second-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    padding-bottom: 40px;
}

@keyframes bounce {
    0% {
        transform: translate3d(0, 20px, 0);
    }
    20% {
        transform: translate3d(0px, 20px, 0);
    }
}

/* profile setup page styling */
#profile-setup-main {
    height: 90%;
    padding-top: 3%;
}
#profile-setup-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 50px;
    height: 100%;
    width: 80vw;
}
input[type=radio] {
    visibility: collapse;
}
#profile-setup-form .avatar-imgs {
    height: 100px;
    width: 100px;
    cursor: pointer;
}
input[type=radio]:checked + figure {
    outline: 3px ridge var(--color3);
}
#profile-setup-form label {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
}
#profile-setup-form figure {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
#profile-setup-form figcaption {
    margin-top: 2px;
}
#profile-setup-form button {
    margin: 30px 0;
    width: 120px;
    height: 40px;
}
#profile-setup-form h3 {
    margin: 15px 0;
    text-align: center;
}
#profile-setup-form #username {
    width: 180px;
    margin: 7px;
    padding: 5px;
    text-align: center;
}
#profile-setup-form textarea {
    width: 80%;
    height: 100px;
    margin: 7px;
    padding: 5px;
    text-align: center;
    resize: none;
}

.username-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    justify-content: flex-start;
}

.username-bio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.avatar-select {
    width: 60%;
}

/* homepage media queries */
@media (max-width: 780px){
    header{
        font-size: .5rem;
    }

    .mini-leaderboard{
        font-size: .5rem;
    }

    .leaders{
        font-size: .5rem;
    }

    #kaboomio img{
        display: none;
    }
}

/* leaderboard page media queries */
@media (max-width: 950px){
    .leaderboard-left{
        width: 200px;
    }
    .leaderboard-left img{
        width: 200px;
        animation: shrink 1s ease-in;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@keyframes shrink {
    0%{width: 535px }
    50%{width: 350}
    100%{width: 200px}
}
/* all page media queries */
@media (max-width: 640px) {
    .footer-right {
        font-size: .5rem
    }
}

@keyframes mario {
    100% {
        transform: translateX(105%);
    }
}

.loading-screen {
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 100%;
}

.loading-img-container {
    width: 100%;
    position: relative;
    animation: mario 1.3s linear infinite;
}

.loading-img-container + p {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    animation: pulse 0.9s infinite ease-in-out;
    margin: 10px 0
}

.loading-img {
    height: 40px;
}

.invisible {
    visibility: hidden;
}

.tooltip {
    visibility: collapse;
    width: fit-content;
    background-color: rgb(45, 0, 93);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1;
    top: 86%;
    /* left: 50%; */
    /* margin-left: -60px; */
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid;
    border-color:  transparent transparent rgb(45, 0, 93) transparent;
}

.icons:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


#gameboyContainer {
    position: fixed;
    width: 600px;
    height: 100vh;
    top: 120px;
    left: 30%;
    z-index: 1;
}

/* about page CSS */
#about-main{
    background-color: rgb(25, 25, 25);
    overflow: hidden;
}

.about-imgs{
    height: 200px;
    border-radius: 50%;
    border: var(--color1) inset 5px;
}

.about-team{
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 10px;
    margin: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.footer-right {
    margin-left: 0;
}
#about-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    margin: 20px 20%;
    animation: credits 15s linear forwards;
    position: relative;
    overflow: hidden;
}

.about-name {
    text-align: center;
    padding: 10px;
}
.about-bio {
    margin: 10px;
}
.about-img-bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@keyframes credits {
    0%{top: -1500px;}
    100%{top: 0px;}
    
}